#title {
font-size: 400%;
}

#searchbar {
width: 80%;
margin-left: 2%;
border: 0;
outline-style: none;
}

#searchbar-container {
width: 25%;
border-radius: 1.5rem;
outline: 1px solid rgba(168,168,168);
}
